* {
    box-sizing: border-box;
    font-family: 'Crimson Text', serif;
    font-size: 20px
}

body {
    margin: 0;
}


/* Style the header */

.header {
    background-color: #0066ff;
    padding: 20px;
    text-align: center;
}

.header h1 {
    font-size: 60px;
    color: #000000
}

.header p {
    font-size: 40px;
    color: #818181
}


/* Create three equal columns that floats next to each other */


/* Ejemplos de estilos por clase */

.column {
    float: left;
    width: 100%;
    padding: 20px 20% 0 20%;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column h2 {
    color: rgb(62, 70, 62);
    text-align: center;
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */

@media screen and (max-width:600px) {
    .column {
        width: 100%;
    }
    /*Image Gallery*/
    .gallery {
        padding: 20px;
        float: center;
        width: 100%;
    }
    .gallery img {
        width: 100%;
    }
    .gallery .desc {
        padding: 15px;
        text-align: center;
    }
}